
<div class="body">
   <div class="container">
	    <div class="row">
        <%= form_for(@item_new, url: admins_items_path) do |f| %>
            <div class="col-xs-4">
        	    <h2 style="background-color: #dcdcdc; width: 80%; text-align: center;">商品新規登録</h2>
                    <%= attachment_image_tag @item, :image, :limit, 300, 300, fallback: "no-image-mini.jpg",size: "300x300",id:"prev_img" %>

                    <label for="post_img" class= "btn btn-primary btn-block label-img" style="width: 80%; margin: 20px 0">
                        <%= f.attachment_field :item_image,id: :post_img, class: "hidden" %>
                        画像選択
                    </label>
            </div>

                    <div class="col-xs-8" style="margin-top: 50px;">
                        <%= render "admins/shared/error_messages", resource: @item_new %>
                        <div class="form-group row">
                         	<div class="col-xs-2">
                         		<%= f.label :商品名 %>
                            </div>
                            <div class="col-xs-6">
                         		<%= f.text_field :item_name %>
                         	</div>
                        </div>

                        <div class="form-group row">
                         	<div class="col-xs-2">
                         		<%= f.label :商品説明 %>
                            </div>
                            <div class="col-xs-6">
                         		<%= f.text_field :item_explanation %>
                         	</div>
                        </div>

                        <div class="form-group row">
                         	<div class="col-xs-2">
                         		<%= f.label :ジャンル %>
                            </div>
                            <div class="col-xs-6">
                         		<%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => '選択してください' %>
                         	</div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-2">
                         		<%= f.label :税抜価格 %>
                            </div>
                            <div class="col-xs-6">
                         		<%= f.text_field :without_tax %>
                         	</div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-2">
                                <%= f.label :販売ステータス %>
                            </div>
                            <div class="col-xs-6">
                                <%= f.select :item_status, Item.item_statuses.keys.map {|k| [I18n.t("enums.item.item_status.#{k}"), k]} %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-2">
                                <%= f.label :おすすめ商品 %>
                            </div>
                            <div class="col-xs-6">
                                <%= f.radio_button :recomend, :true %>
                                <%= f.label :recomend_true, "有効" %>
                                <%= f.radio_button :recomend, :false, checked: true %>
                                <%= f.label :recomend_false, "無効" %>
                            </div>
                        </div>
                 	<div style="margin-left: 200px;">
                 		<%= f.submit "新規登録", class: "btn-lg btn-primary" %>
                 	</div>
                    <% end %>
            </div>
        </div>
    </div>
</div>
