
<div class="body">
    <div class="container">
	    <div class="row">
            <div class="col-xs-4">
                <h2 style="background-color: #dcdcdc; width: 80%; text-align: center;">商品詳細</h2>

                <div style="margin: 40px 0">
                    <%= attachment_image_tag(@item, :item_image, :fill, 300, 300, fallback: "NO-IMAGE.jpg",size: "300x300") %>
                </div>
            </div>

            <div class="col-xs-8">
                <div style="margin: 100px 60px 60px 60px; font-size: 20px">
                    <div style="margin-bottom: 20px">
                        <strong style="margin-right: 30px">商品名</strong>
                        <%= @item.item_name %>
                    </div>

                    <div style="margin-bottom: 20px">
                        <strong style="margin-right: 30px">商品説明</strong>
                        <%= @item.item_explanation %>
                    </div>
                    <div style="margin-bottom: 20px">
                         <strong style="margin-right: 30px">税込価格（税抜価格）</strong> 
                        <% tax_include = @item.without_tax.to_i * 1.1  %>
                        <%= tax_include.round.to_s(:delimited)   %>
                        (<%= (@item.without_tax.to_i).to_s(:delimited) %>)　円
                    </div>
                    <div style="margin-bottom: 20px">
                        <strong style="margin-right: 30px">販売ステータス</strong>
                        <%= @item.item_status_i18n %>
                    </div>
                    <div style="margin-bottom: 10px">
                        <strong style="margin-right: 30px">おすすめ商品</strong>
                        <% if @item.recomend == true %>
                        有効
                       <% elsif @item.recomend == false %>
                        無効
                       <% end %>
                    </div>

                     <%= link_to "編集する", edit_admins_item_path(@item.id), class: "btn btn-primary" %>

                     <%= link_to "商品を削除する", admins_item_path(@item.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
                </div>
            </div>
        </div>
    </div>
</div>


