<div class="container">
  <div class="row" style="margin-top: 100px;">
    <div class="text-center col-md-3 col-md-offset-1" style="background-color: #eeeeee;">
      <h4>会員の方はこちらからログイン</h4>
    </div>
  </div>

  <!-- ログイン画面のエラーメッセージ表示 -->
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <font color="red">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <%- end -%>
      </font>
    </div>
  </div>

  <div class="row" style="width: 100%; margin-top: 30px;">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="end-user-field">
          <%= f.label :メールアドレス　 %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="end-user-field">
          <%= f.label :パスワード　　　 %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="end-user-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "自動ログインにする" %>
          </div>
        <% end %>

        <div class="end-user-field text-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
          <% end %>
        </div>


        <div class="end-user-login-b">
          <%= f.submit "ログイン", class: "btn-lg btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row" style="width: 100%; margin-top: 30px;">
    <div class="text-center col-md-3 col-md-offset-1" style="background-color: #eeeeee;">
      <h4>登録がお済みでない方</h4>
    </div>
  </div>
  <div class="row">
    <div class="end-user-login col-md-6 col-md-offset-3">
      <h4><%= link_to "こちら", new_end_user_registration_path %>　から新規登録を行ってください。</h4>
    </div>
  </div>

</div>