<div class="body">
  <div class="container">
     <div class="row">

      <div class="text-left" style="margin-left: 120px; width: 140px; padding-bottom: 5px ">
          <h4 style="background-color:#D3D3D3" class="text-center">注文履歴詳細</h4>
      </div>

      <div style="margin: 20px;">
        <table>
          <tbody>
            <tr>
              <th  height="30">購入者</th>
              <td > <%= link_to admins_user_path(@order.end_user.id) do %>
                <%= @order.end_user.full_name_kanji %>
                <% end %>
                </td>
            </tr>
            <tr>
              <th height="50">配送先</th>
              <td> <%= "〒" + (@order.postal_code.to_s.insert(3, "-")) + '　' +@order.delivery_address %><br> <%= @order.end_user.full_name_kanji %></td>
            </tr>
            <tr>
              <th height="30">支払い方法</th>
              <td><%= @order.payment_info_i18n %></td>
            </tr>
            <tr>
              <th height="30" >注文ステータス</th>
              <td><%= form_for(@order, url: admins_order_history_path) do |f| %>
             <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
             　<%= f.submit "更新", class: "btn btn-primary" %>
             <% end %></td>
            </tr>
          </tbody>
        </table>
      </div>

        <div class="col-xs-8">
          <% total = 0 %>
         <table class="table">
          <thead>
           <tr class="active">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th class="text-center">小計</th>
            <th class="text-center">制作ステータス　　</th>
           </tr>
          </thead>
          <tbody>
            <% @order_items.each do |order_item| %>
            <% total + (order_item.unit_price * order_item.item_number) %>
            <tr>
             <td><%= order_item.item.item_name %></td>
             <td><%= order_item.unit_price.to_s(:delimited) %></td>
             <td><%= order_item.item_number %></td>
             <td class="text-center"><%= (order_item.unit_price * order_item.item_number).to_s(:delimited) %> </td>
             <td class="text-center">
              <%= form_for(order_item, url: admins_update_product_path) do |f| %>
              <%= f.select :production_status, OrderItem.production_statuses.keys.map {|k| [I18n.t("enums.order_item.production_status.#{k}"), k]} %>
              <%= f.hidden_field :item_id, :value => order_item.item_id %>
              　　<%= f.submit "更新", class: "btn btn-primary" %>
              <% end %>
             </td>
             </tr>
            <% end %>
           
          </tbody>
         </table>
        </div>
      <div class="col-xs-4">
        <table>
          <thead>
            <tr>
              <th height="40"></th>
              <td></td>
            </tr>
            <tr>
              <th height="30">商品合計</th>
              <td><%= (@order.billing_amount - 800).to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <th height="30">送料</th>
              <td>　<%= @order.postage %>円</td>
            </tr>
            <tr>
              <th height="30">請求金額合計　　</th>
              <th><%= (@order.billing_amount).to_s(:delimited) %>円</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>