<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー部分 -->
    <nav class="navbar navbar-inverse" style="background-color: #000000">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">メニュー</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if end_user_signed_in? %>
          <h1><%= link_to "Nagano Cake", root_path, class: 'rogo', data: {"turbolinks" => false} %></h1>
        <% else admin_signed_in? %>
          <h1><%= link_to "Nagano Cake", admins_homes_top_path, class: 'rogo', data: {"turbolinks" => false} %></h1>
        <% end %>
      </div>


      <nav id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- 会員ログイン後 -->
          <% if end_user_signed_in? %>
            <li class="user">ようこそ、　<%= current_end_user.family_name_kanji %><%= current_end_user.first_name_kanji %>　さん！</li>
            <li><%= link_to "マイページ", new_end_users_user_path %></li>
            <li><%= link_to "商品一覧", end_users_items_path %></li>
            <li><%= link_to "カート", end_users_carts_path %></li>
            <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %></li>

          <!-- 管理者ログイン後 -->
          <% elsif admin_signed_in? %>
            <li><%= link_to "商品一覧", admins_items_path %></li>
            <li><%= link_to "会員一覧", admins_users_path %></li>
            <li><%= link_to "注文履歴一覧", admins_order_histories_path %></li>
            <li><%= link_to "ジャンル一覧", admins_categories_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

            <!-- 検索機能 -->
            <div class="text-right" style="margin-right: 20px; padding-bottom: 5px">
              <%= form_tag(admins_search_path, method: "get") do %>
              <%= text_field_tag :keyword,  params[:keyword], placeholder:"user名や商品名"%>
                <%= submit_tag 'Search' %>
              <% end %>
            </div>

          <!-- 非ログイン -->
          <% else %>
            <li><%= link_to "商品一覧", end_users_items_path %></li>
            <li><%= link_to "新規登録", new_end_user_registration_path, data: {"turbolinks" => false} %></li>
            <li><%= link_to "ログイン", new_end_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </nav>


    <%= yield %>
    <!-- フッター部分 -->
    <footer class="hoge_footer">
    </footer>
  </body>
</html>
